body{
  font-family: 'Montserrat';
}

h1{
  font-family: 'Montserrat';
  font-size: 3rem;
  line-height: 1.5;
  font-weight: 900;
}


/* span{
  transition: all 0.5s ease;
  transform: translateY(50px);
}

span.fade{
  opacity: 1;
  color: white;
} */

h2{
  font-size: 3rem;
}

h3{
  font-family: 'Montserrat';
  font-weight: 700;
  font-size: 1.5rem;
}

p{
  color: #8f8f8f;
  font-size: 1.5rem;
  font-weight: 200;
}
.container-fluid{
  padding: 3% 15% 7%
}

#title{
  background-color: #00263b;
  color: white;
}
/* .headtext{
  display: none;
} */
.navbar{
  padding: 0 0 4.5rem;
}
.navbar-brand{
  font-family: 'Ubuntu';
  font-size: 2.5rem;
  font-weight: bold;
}

.next-row{
  padding-top: 1%;
  padding-bottom: 2%;
}
.nav-item{
  padding: 0 16px;
}
.progress-bar{
  background-color: #55a630;
  transition-duration: 3s;
}
.dbutton{
  margin: 5% 3% 5% 0 ;
}


.skill{
  font-size: 2.5rem;
}
.myskills{
  text-align: center;
}
.skill-cont{
  padding: 1.5%;
}
#features{
  padding: 7% 15%;
  background-color: white;
  position: relative;
  z-index: 1;

}
.feat{
  text-align: center;
  padding: 5%;
}

.icon{
  color: #55a630;
  margin-bottom: 1rem;
}

.icon:hover{
  color: #aacc00;
}

.whoami{
  text-align: center;
}


#testimonials{

  text-align: center;
  background-color: #ef8172;
  color: white;
  line-height: 1.5rem;

}
.btp
{
  margin: 1% 2%;
}
.btn
{
  margin: 1% 2%;
}
#interests{
  background-color: #00263b;
  padding: 2% 10%;
  color: white;
}
#projects{
  padding: 100px;
  text-align: center;
}

.price{
  padding: 3% 2%
}

.carousel-item{
  padding: 7% 15%;
}

.pressimage{
  width: 15%;
  margin: 20px 20px 50px;
}

.testimage{
  width: 15%;
  border-radius: 100%;
  margin: 20px;
}

#cta{
  background-color: #00263b;
  font-family: 'Montserrat';
  color: white;
  text-align: center;
  padding: 7% 15%;
}

.footer-button{

}

#footer{
  text-align: center;
  padding: 3% 2%;
}
.footer-text{
  font-size: 3.5rem;
  line-height: 1.5;
}
.ficon{
  margin: 20px 10px;
  color: #373a40;
}
@media(max-width: 1030px){
  #title{
    text-align: center;
  }
  /* .iphone-image{
    position: static;
    transform: rotate(0);
  } */
}
